<section>
  <div class="name-btnEditP">
    <h1>Mauricio Rios, MD</h1>
    <button mat-raised-button routerLink="/edit-profile">Edit Profile</button>
  </div>
  <div class="profile">
    <div class="profile-section1">


      <img alt="Picture of your dermatologist" src="../src/assets/dermatologist.png"/>
      <br>
      <div class="matIcon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star_half"></mat-icon>
      </div>

    </div>
    <div class="profile-section2">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter your name, please</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>
      <!--    <button mat-raised-button routerLink="/edit-profile">Edit Profile</button>-->
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="youtube"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="facebook"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="Linkedin"></mat-icon>

    </div>


  </div>

</section>
