<div class="hero" >

  <mat-toolbar >
    <img src="../../../../../assets/Logo.png" width="140px">

    <span class="mat-spacer"></span>
    <button mat-button routerLink="/files-patient">Files</button>
    <button mat-button routerLink="/myDoctor-patient">My Doctor</button>
    <button mat-button routerLink="/messages-patient">Messages</button>
    <button mat-button routerLink="/reminders-patient">Reminders</button>
    <button mat-button routerLink="/profile-patient">Profile</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

</div>
