<section class="reminders">

  <div class="reminders_list">
    <mat-card class="container">Simple card</mat-card>
    <mat-checkbox class="container">Check me!</mat-checkbox>
    <mat-card class="container">Simple card</mat-card>
    <mat-checkbox class="container">Check me!</mat-checkbox>
    <mat-card class="container">Simple card</mat-card>
    <mat-checkbox class="container">Check me!</mat-checkbox>
    <mat-card class="container">Simple card</mat-card>
    <mat-checkbox class="container">Check me!</mat-checkbox>
    <mat-card class="container">Simple card</mat-card>
    <mat-checkbox class="container">Check me!</mat-checkbox>
    <mat-card class="container">Simple card</mat-card>
    <mat-checkbox class="container">Check me!</mat-checkbox>
    <mat-card class="container">Simple card</mat-card>
  </div>

</section>
