<app-navbar></app-navbar>
<div class="hero">
  <div class="background-image" style="background-image: url(assets/hero.jpg)" role="img"
       aria-label="Specialist doctor in dermatology"></div>

  <div class="phrase">
    <h1>Dermatology DERMAPP</h1>
    <p>In clinical dermatology, the dermatologist  is the specialist doctor
      responsible for the study of healthy skin, as well as the diseases that affect it, its diagnosis, prevention and treatment.</p>
    <a mat-raised-button (click)="openDialog()">Who start?</a>
    <button mat-button [routerLink]="'/login'" mat-flat-button color="primary">LOG IN</button>
  </div>

</div>

