<section>
  <div class="name-btnEditP">
    <h1>Mauricio Rios, MD</h1>
    <button mat-raised-button routerLink="/edit-profile">Edit Profile</button>
  </div>
  <div class="profile">
    <div class="profile-section1">
      <img src="assets/dermatologist.png" alt="dermatologist profile picture"/>
      <br>
      <div class="matIcon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star_half"></mat-icon>
      </div>

    </div>
    <div class="profile-section2">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter your name, Please</mat-label>
        <input matInput >
      </mat-form-field>
      <button mat-raised-button (click)="getAllPatients2(2)">Basic</button>
      <mat-icon aria-hidden="false" aria-label="Example Twitter icon" fontIcon="twitter"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example Facebook icon" fontIcon="facebook"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example Linkedin icon" fontIcon="Linkedin"></mat-icon>
    </div>
  </div>
</section>
