<div class="hero" >
  <mat-toolbar >
    <img src="../../../../../assets/Logo.png" width="140px" alt="DermApp website logo">

    <span class="mat-spacer"></span>
    <button mat-button routerLink="/chats">Chats</button>
    <button mat-button routerLink="/calendar">Calendar</button>
    <button mat-button routerLink="/patients">Patients</button>
    <button mat-button routerLink="/profile">Profile</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

</div>
