.character{
  display: flex;
  margin:20px;
  justify-content: space-around;
}
.example-card {
  max-width: 400px;

}
mat-card-actions{
  text-align: center;
}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-card1 {
  max-width: 400px;
}

.example-header-image2 {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
