.content{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.content2 {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  width:50%;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #2196F3;
  z-index: -1;
}

.background-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #414A4F;
  opacity: 0.75;
}
