<app-navbar></app-navbar>
<div class="about">
  <div class="background-image" style="background-image: url(assets/team.jpg)"  role="img"
       aria-label="We are a group of IT students from the Peruvian University of Applied Sciences"></div>
  <h1>The Developers from the DermAPP</h1>

  <div class="the-team">

    <div class="jasmin">
      <img src="assets/jasmin.jpg" alt="I am part of the DermApp development team"/>
      <h3>I am 19 years old, I was born in Lima. I am currently studying Software Engineering. I like to acquire new knowledge.
      </h3>
    </div>
    <div class="diego">
      <img src="assets/diego.png" alt="I am part of the DermApp development team"/>
      <h3>I am 19 years old. I do daily exercises to maintain a healthy life accompanied by a good diet.</h3>
    </div>
    <div class="leonardo">
      <img src="assets/leonardo.png" alt="I am part of the DermApp development team"/>
      <h3>I am 20 years. I am responsible when carrying out my tasks and I have gained experience working as a team in previous cycles. </h3>
    </div>
    <div class="emilia">
      <img src="assets/emilia.png" alt="I am part of the DermApp development team"/>
      <h3>I am a 25yr old software engineering student. I am interested in the development of applications that can help people</h3>
    </div>
    <div class="thomas">
      <img src="assets/thomas.png" alt="I am part of the DermApp development team"/>
      <h3>I am an engineering student in Paris. I am 23 years old and I like to work on projects that allow an improvement in the field of Health</h3>
    </div>

  </div>


</div>

