.about .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.about .background-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(65, 74, 79, 0.75);
}
h1, h3{
  color: #FFFFFF;
}
h1{
  padding: 10px;
  text-align: center;
}

.the-team{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;

}

.the-team img{
  width: 80px;
}

.jasmin{
  width: 30%;
  border: solid 13px rgba(33, 150, 243, 0);
  text-align: center;
}

.diego{
  width: 30%;
  border: solid 13px rgba(33, 150, 243, 0);
  text-align: center;
}

.leonardo{
  width: 30%;
  border: solid 13px rgba(33, 150, 243, 0);
  text-align: center;
}


.emilia{
  width: 30%;
  border: solid 13px rgba(33, 150, 243, 0);
  text-align: center;
}


.thomas{
  width: 30%;
  border: solid 13px rgba(33, 150, 243, 0);
  text-align: center;
}


